a {
  color: white;
  text-decoration: none;
}
form > a:hover{
  background-color: black;
}
p> a:hover {
  background-color: black;
}
h2, p{
  color: white;
}

.createForm{
  background-color: rgba(101,115,126,.6);
  width: 500px;
  margin: 0 auto;
}

input {
  width: 300px;
  height: 30px;
  font-size: 14px;
  text-align: center;
}
