#map {
  top:50px;
  height: 100%;
  width: 101%;
  left: -2px;
  z-index: 0;
  position: absolute;
}

img {
  height: 300px;
  width: 300px;
}
img:hover{
  background-color: black;
}

h2 {
  color: black;
  font-size: 25px;
}
