/*img {
  height: 100%;
  width: 100%;
}
.imagelist {
  height: 300px;
  width: 400px;
}
.locationList {
  display: block;
  justify-content: space-around;
  margin: 0 auto
}*/

h3 {
  width: auto;
  height: auto;
  margin: 5px auto;
  padding: 5px 5px;
}
