/*img {
  height: 100%;
  width: 100%;
}
.imagelist {
  height: 300px;
  width: 400px;
}
.locationList {
  display: block;
  justify-content: space-around;
  margin: 0 auto
}*/

h2 {
  width: auto;
  height: auto;
  margin: 5px auto;
  padding: 5px 5px;
  color: black;
}

.ListImgs{
  width: 400px;
  height: 300px;
  margin: 10px 5px;
}
img{
  height: 100%;
  width: 100%;
  margin: 10px 0;
}

.locationList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
